<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/head.ejs') %>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
<%- include('../layouts/header.ejs') %>
<%- include('../layouts/internal-banner.ejs') %> 
<div class="container course">
   <div class="row">
       <form action="/admin/course/update/<%= course[0].id %>" method="post" class="row form-group">
            <input type="text" class="col-12 d-block mt-2 mb-2" name="title" value="<%= course[0].title %>">
            <input type="text" class="col-12 d-block mb-2" name="preview" value="<%= course[0].preview %>">
            <input type="text" class="col-12 d-block mb-2" name="course_program" value="<%= course[0].course_program %>">
            <input type="text" class="col-12 d-block mb-2" name="image" value="<%= course[0].image %>">
            <input type="text" class="col-12 d-block mb-2" name="description" value="<%= course[0].description %>">
            <input type="text" class="col-12 d-block mb-2" name="price" value="<%= course[0].price %>">
            <input type="submit" value="UPDATE" class="btn-primary">
       </form>
   </div>
</div>
<%- include('../layouts/footer.ejs') %>
</body>
</html>